<!DOCTYPE html>
<html>
<head>
  <title>Teampact</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_pack_tag 'app' %>
  <%= javascript_include_tag 'application' %>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href="https://fonts.googleapis.com/css?family=Lato|Roboto+Slab:300,400,700&amp;subset=cyrillic-ext" rel="stylesheet">
</head>

<body>
<%= yield %>
</body>
</html>
